<!DOCTYPE html>
<html lang="en">

<head>
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>WebCrawler</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-chain-app-dev.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css')}}">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <image src="{{ url_for('static', filename='assets/images/logo.png')}}" alt="Page Logo"
                                width="100" height="78" style="border-radius: 50%;"></image>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#report">Report</a></li>
                            <li class="scroll-to-section"><a href="/">.</a></li>
                            <!-- <li><div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li>  -->
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div id="modal" class="popupContainer" style="display:none;">
        <div class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </div>

        <section class="popupBody">
            <!--  -->
        </section>
    </div>

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3> Here's your Detailed Report! </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="report" class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="service-item first-service"> -->
                    <!-- <image src="{{ url_for('static', filename='assets/images/ssl-checker.png')}}"
                        alt="ssl checker image" width="80" height="160"></image> -->
                    <br><br>
                    <h3>Cookie Checker Scan Report</h3>
                    <br><br>
                    <div style="color: red; font-weight: 600;">
                        <h5>NOTE:</h5>
                        <ol type="1">
                            <li><i class="fa fa-circle" style="font-size:10px"></i>&nbsp;&nbsp;HTTPonly flag should be set to TRUE , so cookies can be only accessed via HTTP/HTTPS protocol</li>
                            <li><i class="fa fa-circle" style="font-size:10px"></i>&nbsp;&nbsp;Cookies should not disclouse username , password or any Personally identifiable information (PII)</li>
                            <li><i class="fa fa-circle" style="font-size:10px"></i>&nbsp;&nbsp;Website must take the permission (consent) from user before storing cookies</li>
                        </ol>
                    </div>
                    <br><br>
                    <p style="font-weight: bolder; font-size: large; ">
                        {% autoescape false %}
                        {{s2a}}
                        {% endautoescape %}
                    </p>
                    <br><br>
                   
                    <br><br>
                    <!-- <p style="font-weight: bolder; font-size: large; ">{{s1b}}</p> -->
                    <br>
                    <br>

                <!-- </div> -->
            </div>
        </div>
    </div>



    <footer id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h4>Thank You For Checking Out Our Product</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>Copyright © 2021 Viraj Vaishnav & Meenakshi Kharel. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
    <!-- <script src="assets/js/owl-carousel.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/animation.js')}}"></script>
    <!-- <script src="assets/js/animation.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/imagesloaded.js')}}"></script>
    <!-- <script src="assets/js/imagesloaded.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/popup.js')}}"></script>
    <!-- <script src="assets/js/popup.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
    <!-- <script src="assets/js/custom.js"></script> -->
</body>

</html>