{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 

{% block body %}

<div class="container">
    <form method="POST" action="/">
      <input type="checkbox" id="myCheckbox1" value="0" name="check"> 
      <label for="myCheckbox1"><image src="{{ url_for('static', filename='img-sslchecker.png')}}" alt="img-sslchecker"></image></label>
      
        Checkbox 1 <input type="checkbox" value="1" name="check">
        Checkbox 2 <input type="checkbox" value="2" name="check">
        Checkbox 3 <input type="checkbox" value="3" name="check">
        <input type="submit">
      </form>
  </div>

{% endblock body %}