<div style="padding: 50px; background-image: linear-gradient(rgb(156, 245, 230), white);">
    <div style="padding: 30px; text-align: center;">
        <h1>WEBCRAWLER SCAN REPORT SUMMARY</h1>
    </div>
    
    <br><br>
    <h1>SSL Certificate Compliance</h1>
    <br>
    <p style="font-weight: bolder; font-size: large; color: black; ">
        {% autoescape false %}
        {{s1a}}
        {% endautoescape %}
    </p>
    <br><br>
    
    
    
    <br><br>
    <h1>Cookie Checker</h1>
    <br>
    <p style="font-weight: bolder; font-size: large; color: black; ">
        {% autoescape false %}
        {{s2a}}
        {% endautoescape %}
    </p>
    <br><br>
    
    
    <br><br>
    <h1>ADA Compliance</h1>
    <br>
    <p style="font-weight: bolder; font-size: large; color: black;">
        {% autoescape false %}
        {{s3a}}
        {% endautoescape %}
    </p>
    <br>
    <p style="font-weight: bolder; font-size: large; color: black;">
        {% autoescape false %}
        {{s3b}}
        {% endautoescape %}
    </p>
    <br>
    <p style="font-weight: bolder; font-size: large; color: black;">
        {% autoescape false %}
        {{s3c}}
        {% endautoescape %}
    </p>
    <br><br>
</div>
